.spec-date {
    width: 60%;
    color: black;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.date-container {
    width: 50%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
} 
.time-container {
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td div{
    width: auto;
    padding: 0.8rem;
    text-align: center;
    border-collapse: collapse;
    border-radius: 8px;
    border: 1px solid lightgray;
    background-color: white;
    color: black;
}
td div:focus {
    background-color: #8900f2;
    color: white;
}
td div:hover {
    cursor: pointer;
    background-color: #8900f2;
    color: white;
}
tbody {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

@media (max-width: 768px) {
    .spec-date {
        width: 95%;
        display: flex;
        flex-direction: column;
        margin: 2rem auto;
    }
    .data-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .agenda-btn {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    #schedule-table-title {
        padding: 2rem auto !important;
        color: white;
    }
    form {
        width: 100%;
        background-color: #8900f2;
        color: white;
        border-radius: 1rem;
    }
    .form-body {
        padding: 2rem;
    }
    th {
        padding: 1rem;
    }
    button {
        padding: 1rem;
        font-size: 1.5rem;
        border-radius: 1rem;
        border: none;
        background-color: #f20089;
        color: white;
        box-shadow: 1px 1px 1px gray;
    }
    .label, .input-submit {
        margin-top: 1rem;
        margin-left: 0.8rem;
        margin-bottom: 0.3rem;
    }
    input[type="text"], input[type="email"], input[type="phone"] {
        width: 98%;
        height: 2rem;
        padding-left: 0.7rem;
        font-size: 1rem;
        border-radius: 2rem;
        border: solid lightgray 1px;
    }
    input[type="text"]:focus, input[type="email"]:focus, input[type="phone"]:focus {
        outline: solid 1px #8900f2;
    }
}