.spec-date {
    width: 60%;
    color: black;
    border: solid gray 1px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.date-container {
    width: 50%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
} 
.time-container {
    width: 100%;
}
table {
    width: 100%;
    border-collapse: collapse;
}
td div {
    width: 5rem;
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 0.8rem;
  }
td div{
    width: auto;
    text-align: center;
    border-radius: 8px;
    border: 1px solid lightgray;
}
td div:focus {
    background-color: #8900f2;
    color: white;
}
td div:hover {
    cursor: pointer;
    background-color: #8900f2;
    color: white;
}
tbody {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

@media (max-width: 768px) {
    .spec-date {
        width: 95%;
        display: flex;
        flex-direction: column;
        border: solid gray 1px;
        margin: 2rem auto;
    }
    .data-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .agenda-btn {
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    form {
        width: 100%;
        border: solid gray 1px;
    }
    .form-body {
        padding: 1rem;
    }
    button {
        padding: 1rem;
        font-size: 1.5rem;
        border-radius: 1rem;
        border: none;
        background-color: #f20089;
        color: white;
        box-shadow: 1px 1px 1px gray;
    }
    .label, .input-submit {
        margin-top: 1rem;
    }
    input[type="text"], input[type="email"] {
        width: 98%;
        height: 2rem;
        font-size: 1rem;
    }
}