body {
    margin: 0;
    box-sizing: border-box;
}
#prev {
    opacity: 0.5;
}
td:hover {
    cursor: pointer;
    background-color: #8900f2;
    color: white;
}   
a {
    text-decoration: none;
    color: black;
    border: solid black 1px;
}
.choosebtn {
    padding: 1rem;
}  

@media (min-width: 1280px) {

}

@media (min-width: 768px) and (max-width: 1280px) {

}

@media (max-width: 768px) {
    .main-container {
        margin: 1rem;
        padding: 1rem;
        border-radius: 8px;
        border: solid lightpink 1px;
    }
    #currentMY-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .calendar-container {
        margin-top: 1rem;
        margin-bottom: 3rem;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: solid lightpink 1px;
    }
    #calendar {
        width: 95%;
        border-collapse: collapse;
    }    
    td, th {
        border: 1px solid lightgray;       
    }
    td {
        color: #8900f2;
        text-align: center;
        font-size: 1.5rem;
    }
    .btns-container {
        width: 100%;
        display: flex; 
        justify-content: space-around;
    }
    .choosebtn {
        width: 40%;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        background-color: #f20089;
        color: white;
    } 
}